<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/assets/css/main.css">
 
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      padding: 25px;
    }
  </style>
</head>
<body>
<nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="#"><img src="./assets/img/logo.png" class="logo" alt="xfinity"></a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">

            <ul class="nav navbar-nav navbar-right">
			<li><a href="https://xfinity.easyzigbee.com/products">Shop</a></li>
			<li><a href="https://xfinity.easyzigbee.com/products">Products</a></li>
			<li><a href="https://xfinity.easyzigbee.com/cart">Cart &nbsp; <span class="badge" id="comparison-count">0</span>
			</a></li>
			</ul>
		  </div>

		</div>
	  </nav>
	  <nav class="page-nav hidden-sm hidden-xs">
			<div class="container">
				<ul id="nav">
					<li>
						<a href="https://xfinity.easyzigbee.com/" title="Home">Home</a>
					</li>
					<li>
						<a href="https://xfinity.easyzigbee.com/products" title="Products">Products</a>
					</li>
					<li>
						<a href="https://xfinity.easyzigbee.com/energy-saving-tips" title="Energy Tips">Energy Tips</a>
					</li>
				</ul>
			</div>
		</nav>

	{{content}}

	<footer class="page-footer">
			<div class="container">
				<ul class="row">
					<li class="col-sm-3">
						<a href="https://xfinity.easyzigbee.com">
							<img src="./assets/img/logo.png" alt="Comcast" width="125px">
						</a>
					</li>
					<li class="col-sm-3">
						<a href="//twitter.com/XFINITY">
							<i class="fa fa-twitter" aria-hidden="true"></i> Follow us for exclusive deals
						</a>
					</li>
					<li class="col-sm-3">
						<a href="//www.youtube.com/user/xfinity?feature=results_main">
							<i class="fa fa-youtube" aria-hidden="true"></i> Find tutorials and demos
						</a>
					</li>
					<li class="col-sm-3">
						<a href="//www.facebook.com/xfinity">
							<i class="fa fa-facebook" aria-hidden="true"></i> Connect on Facebook
						</a>
					</li>
				</ul>
			</div>
		</footer>

	<script src="{{'/node_modules/jquery/jquery.cycle.js/' | prepend: site.baseurl}}"></script>
	<script src="{{'/node_modules/callout.min.js' | prepend: site.baseurl}}"></script>
	<script src="{{'/node_modules/current.js' | prepend: site.baseurl}}"></script>
	<script src="{{'/node_modules/simplemodal.js' | prepend: site.baseurl}}"></script>
	<script src="{{'/node_modules/common.min.js' | prepend: site.baseurl}}"></script>

    </body>
</html>
